/* Mon nav entête */
body{
    background-color: #4A394a;  /* Ma couleur de fond sur Figma */
}




/* Mon footer ou pieds de page */
footer{
    position: center;
    bottom:0;
    float:none;
    margin: auto;
    justify-content: center;
    align-content: center;
}


/* Mes boutons */
