/* Mon nav entête */



.espace {
    margin: 0 15px;        /* Pour créer de l'espace entre les éléments du menu "entete" */
  
 
}

/* --------------------------------------------------------------------------------------------------------*/



@media (max-width: 480px) {
  
    #imagedefond {
        width: 100%;
        height: auto;
    }

}




/* Les logos réseaux sociaux en pieds de page */

.meslogosreso:hover {
    background-color: yellowgreen;        /* Les bordures sont rouges lors du survol avec la souris */
}


/* Début annimation CSS sur mes logos réseaux */
@keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }
 .meslogosreso {

    animation: 3s slidein;
    animation-iteration-count: infinite;    /* L'animation tourne en boucle */
  }
  
  
  /* Début animation image de fond */
  .imagedefond{
   
    animation:
    4s linear 0s infinite alternate rise,
    4s linear 0s infinite alternate bounce;
  }
  @keyframes rise {
    from {
      transform: translateY(110vh);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateX(-50vw);
    }
    to {
      transform: translateX(50vw);
    }
  }
   /* Fin animation image de fond */






/*------------------------------------------Page contact-------------------------------------------------------- */
span{
  color:red;
}
