 /* 
p {
    color: rgb(88, 76, 76);
    line-height: 3em;
    text-align: justify;
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color:brown;
    transition: width 2s, height 2s, background-color 2s, transform 5s;
}


h1,h3 {
    color: black;
    border: none;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}
h2{
   font-weight: bolder;
}


#colonnegrise{
    flex: 50%;
    flex-direction: row;
    display:flex
   
    
}
#colonneaccueil{
    flex-direction:left;
    display: flex;
}
*/